/* priorite: !important > syle dans la balise > #id > .class > baliseHTML */
* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	list-style: none;
}

body {
	text-align: center;
	margin: 0;
	color: white;min-height: 200vh;
}

.box {
	border: 6px solid plum;
	transition: 0.25s ease;
	background: purple;
	padding: 10px;
}
p {
	visibility: hidden;
	width: 240px;
	margin: 10px auto 0;
	opacity: 0;
	transition: 0.6s;
	transform: translateX(-200px);
}

.question-click {
	background: yellow;
	color: black;
	border-radius: 30px;
	border: 6px dashed blue;
}

.show-response {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

.mousemove {
	height: 50px;
	width: 50px;
	border: 2px solid rgb(232, 116, 164);
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	right: 50%;
	border-radius: 50px;
	/* transition: 0.2s ease; */
	z-index: -1;
}
